---
http_interactions:
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects/2951531/accesses.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects/2951531/accesses.json
      x-asset-paths:
      - ! '{"application.js":"application-9015423afd58438dfee449c2a129634f.js","application.css":"application-4e033ab8c3326d2795418cf2a702f477.css"}'
      last-modified:
      - Fri, 21 Jun 2013 22:41:31 GMT
    body:
      encoding: US-ASCII
      string: ! '[{"id":4666033,"name":"Paul Springett","email_address":"paul@springett.me","admin":true,"created_at":"2013-05-24T18:59:10.000Z","updated_at":"2013-06-21T22:41:31.000Z","identity_id":6967737,"avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3","url":"https://basecamp.com/2274488/api/v1/people/4666033-paul-springett.json"},{"id":4904724,"name":"paul@simpleweb.co.uk","email_address":"paul@simpleweb.co.uk","admin":false,"created_at":"2013-06-21T22:41:31.000Z","updated_at":"2013-06-21T22:41:31.000Z","identity_id":null,"avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_4/avatar.gif?r=3","url":"https://basecamp.com/2274488/api/v1/people/4904724-paul-simpleweb-co-uk.json"}]'
  recorded_at: Thu, 04 Jul 2013 01:20:15 GMT
recorded_with: VCR 2.5.0
