---
http_interactions:
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects/drafts.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects/archived.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: ASCII-8BIT
      string: ! '[{"id":2937644,"name":"Explore Basecamp!","description":"New description","draft":true,"archived":false,"created_at":"2013-05-24T18:59:10.000Z","updated_at":"2013-05-28T20:18:46.000Z","last_event_at":"2013-05-28T20:18:46.000Z","starred":false,"url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp.json"},{"id":2951531,"name":"New
        project","description":"A new project created over the API","draft":true,"archived":false,"created_at":"2013-05-28T14:11:45.000Z","updated_at":"2013-05-28T14:11:45.000Z","last_event_at":"2013-05-28T14:11:45.000Z","starred":false,"url":"https://basecamp.com/2274488/api/v1/projects/2951531-new-project.json"}]'
  recorded_at: Wed, 13 Jan 2016 04:09:55 GMT
recorded_with: VCR 3.0.1
