---
http_interactions:
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects/2956584/todolists/7701289.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects/2956584/todolists/7701289.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      etag:
      - ! '"2da09fd8d9f1670edc1a7d895410403b"'
      last-modified:
      - Tue, 28 May 2013 20:45:19 GMT
    body:
      encoding: US-ASCII
      string: ! '{"id":7701289,"name":"Second todolist","description":null,"created_at":"2013-05-28T20:45:08.000Z","updated_at":"2013-05-28T20:45:19.000Z","completed":true,"position":1,"remaining_count":0,"completed_count":2,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"todos":{"remaining":[],"completed":[{"id":45043294,"todolist_id":7701289,"position":1,"content":"Test
        2","completed":true,"created_at":"2013-05-28T20:45:14.000Z","updated_at":"2013-05-28T20:45:19.000Z","comments_count":0,"due_on":null,"due_at":null,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"completed_at":"2013-05-28T20:45:19.000Z","completer":{"id":4666033,"name":"Paul
        Springett"},"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/todos/45043294-test-2.json"},{"id":45043284,"todolist_id":7701289,"position":1,"content":"Test","completed":true,"created_at":"2013-05-28T20:45:11.000Z","updated_at":"2013-05-28T20:45:17.000Z","comments_count":0,"due_on":null,"due_at":null,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"completed_at":"2013-05-28T20:45:17.000Z","completer":{"id":4666033,"name":"Paul
        Springett"},"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/todos/45043284-test.json"}]},"comments":[],"subscribers":[{"id":4666033,"name":"Paul
        Springett"}]}'
  recorded_at: Tue, 28 May 2013 21:14:53 GMT
recorded_with: VCR 2.5.0
