---
http_interactions:
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/todolists.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/todolists.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      last-modified:
      - Tue, 28 May 2013 20:45:40 GMT
    body:
      encoding: US-ASCII
      string: ! '[{"id":7701209,"name":"First todolist","description":null,"created_at":"2013-05-28T20:41:46.000Z","updated_at":"2013-05-28T20:45:40.000Z","completed":false,"position":1,"remaining_count":1,"completed_count":0,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"bucket":{"type":"Project","id":2956584,"name":"New
        project","url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project.json"},"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/todolists/7701209-first-todolist.json"}]'
  recorded_at: Tue, 28 May 2013 20:50:21 GMT
recorded_with: VCR 2.5.0
