---
http_interactions:
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      etag:
      - ! '"37b0867dee6b2d56eaab46acca39bdca"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":2937644,"name":"Explore Basecamp!","description":"A sample
        project to help you discover Basecamp.","archived":false,"created_at":"2013-05-24T18:59:10.000Z","updated_at":"2013-05-28T13:57:28.000Z","last_event_at":"2013-05-28T12:30:00.000Z","starred":false,"url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp.json"}]'
  recorded_at: Tue, 28 May 2013 14:11:40 GMT
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects/archived.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects/archived.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 28 May 2013 14:11:41 GMT
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects/2937644.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects/2937644.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      etag:
      - ! '"8630721d5645223a58ad892a40ab08c1"'
      last-modified:
      - Tue, 28 May 2013 13:57:28 GMT
    body:
      encoding: US-ASCII
      string: ! '{"id":2937644,"name":"Explore Basecamp!","description":"A sample
        project to help you discover Basecamp.","archived":false,"created_at":"2013-05-24T18:59:10.000Z","updated_at":"2013-05-28T13:57:28.000Z","last_event_at":"2013-05-28T12:30:00.000Z","starred":false,"creator":{"id":4666034,"name":"Basecamp","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/79383b7fc061815979c8c638784be44d4aa4628aaa16ee5614658a2b4d662eb9ce6fc85f0ea77f81b6e6bd3cdb9c266f42cbf1d2426968d83cb50f0d3078fcd65e6055e264b268aa44ffaa94d9475efa/avatar.gif?r=3"},"accesses":{"count":1,"updated_at":"2013-05-24T18:59:13.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/accesses.json"},"attachments":{"count":17,"updated_at":"2012-08-22T22:16:46.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/attachments.json"},"calendar_events":{"count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/calendar_events.json"},"documents":{"count":3,"updated_at":"2012-11-23T20:27:39.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/documents.json"},"forwards":{"count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/forwards.json"},"topics":{"count":9,"updated_at":"2013-05-28T12:30:00.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/topics.json"},"todolists":{"remaining_count":2,"completed_count":0,"updated_at":"2012-05-17T19:52:13.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/todolists.json"}}'
  recorded_at: Tue, 28 May 2013 14:11:42 GMT
- request:
    method: post
    uri: https://basecamp.com/2274488/api/v1/projects.json
    body:
      encoding: UTF-8
      string: ! '{"name":"New project","description":"A new project created over the
        API"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-xhr-current-location:
      - /2274488/api/v1/projects.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      location:
      - https://basecamp.com/2274488/api/v1/projects/2951531-new-project.json
      etag:
      - ! '"ec635c756643638ca77fecc01f03938d"'
    body:
      encoding: US-ASCII
      string: ! '{"id":2951531,"name":"New project","description":"A new project created
        over the API","archived":false,"created_at":"2013-05-28T14:11:45.586Z","updated_at":"2013-05-28T14:11:45.586Z","last_event_at":"2013-05-28T14:11:45.000Z","starred":false,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http:[...]
