---
http_interactions:
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      etag:
      - ! '"2102ff2576d51660bb0c853c4bca2845"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":2937644,"name":"Explore Basecamp!","description":"A sample
        project to help you discover Basecamp.","archived":false,"created_at":"2013-05-24T18:59:10.000Z","updated_at":"2013-05-24T18:59:13.000Z","last_event_at":null,"starred":false,"url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp.json"}]'
  recorded_at: Fri, 24 May 2013 19:35:42 GMT
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects/archived.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects/archived.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Fri, 24 May 2013 20:26:17 GMT
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects/2937644.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects/2937644.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      etag:
      - ! '"0eacffca1b0bd53baa05a4cea5884bc6"'
      last-modified:
      - Fri, 24 May 2013 18:59:13 GMT
    body:
      encoding: US-ASCII
      string: ! '{"id":2937644,"name":"Explore Basecamp!","description":"A sample
        project to help you discover Basecamp.","archived":false,"created_at":"2013-05-24T18:59:10.000Z","updated_at":"2013-05-24T18:59:13.000Z","last_event_at":null,"starred":false,"creator":{"id":4666034,"name":"Basecamp","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/79383b7fc061815979c8c638784be44d4aa4628aaa16ee5614658a2b4d662eb9ce6fc85f0ea77f81b6e6bd3cdb9c266f42cbf1d2426968d83cb50f0d3078fcd65e6055e264b268aa44ffaa94d9475efa/avatar.gif?r=3"},"accesses":{"count":1,"updated_at":"2013-05-24T18:59:13.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/accesses.json"},"attachments":{"count":17,"updated_at":"2012-08-22T22:16:46.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/attachments.json"},"calendar_events":{"count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/calendar_events.json"},"documents":{"count":3,"updated_at":"2012-11-23T20:27:39.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/documents.json"},"forwards":{"count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/forwards.json"},"topics":{"count":8,"updated_at":"2012-03-08T00:55:18.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/topics.json"},"todolists":{"remaining_count":2,"completed_count":0,"updated_at":"2012-05-17T19:52:13.000Z","url":"https://basecamp.com/2274488/api/v1/projects/2937644-explore-basecamp/todolists.json"}}'
  recorded_at: Fri, 24 May 2013 20:30:41 GMT
recorded_with: VCR 2.2.5
