---
http_interactions:
- request:
    method: post
    uri: https://basecamp.com/2274488/api/v1/projects/2951531/todolists/8268819/todos.json
    body:
      encoding: UTF-8
      string: ! '{"content":"My todo"}'
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-xhr-current-location:
      - /2274488/api/v1/projects/2951531/todolists/8268819/todos.json
      x-asset-paths:
      - ! '{"application.js":"application-eb8afc75ba8fcbb36b8518826dd32bc5.js","application.css":"application-18059b31e3ebdcca82003cfaf2564179.css"}'
      location:
      - https://basecamp.com/2274488/api/v1/projects/2951531-new-project/todos/48546382-my-todo.json
      etag:
      - ! '"15d85b0ee278e2e121b5ad807c2f2175"'
    body:
      encoding: US-ASCII
      string: ! '{"id":48546382,"todolist_id":8268819,"position":4,"content":"My todo","completed":false,"created_at":"2013-06-21T22:01:32.491Z","updated_at":"2013-06-21T22:01:32.491Z","comments_count":0,"due_on":null,"due_at":null,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"url":"https://basecamp.com/2274488/api/v1/projects/2951531-new-project/todos/48546382-my-todo.json","comments":[],"subscribers":[{"id":4666033,"name":"Paul
        Springett"}]}'
  recorded_at: Fri, 21 Jun 2013 22:01:32 GMT
recorded_with: VCR 2.5.0
