---
http_interactions:
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/people/trashed.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/people.json
      x-asset-paths:
      - ! '{"application.js":"application-eb8afc75ba8fcbb36b8518826dd32bc5.js","application.css":"application-18059b31e3ebdcca82003cfaf2564179.css"}'
      etag:
      - ! '"f3276cd4fe077efb455d8efbd45b77d3"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":4666033,"name":"Paul Springett","email_address":"paul@springett.me","trashed":true,"admin":true,"created_at":"2013-05-24T18:59:10.000Z","updated_at":"2013-06-21T22:17:14.000Z","identity_id":6967737,"avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3","url":"https://basecamp.com/2274488/api/v1/people/4666033-paul-springett.json"}]'
  recorded_at: Fri, 21 Jun 2013 22:34:44 GMT
recorded_with: VCR 2.5.0
