---
http_interactions:
- request:
    method: post
    uri: https://basecamp.com/2274488/api/v1/projects/2956584/todolists.json
    body:
      encoding: UTF-8
      string: ! '{"name":"My todolist","description":"This is a todolist"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-xhr-current-location:
      - /2274488/api/v1/projects/2956584/todolists.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      location:
      - https://basecamp.com/2274488/api/v1/projects/2956584-new-project/todolists/7702303-my-todolist.json
      etag:
      - ! '"12c774432725cf346424fd9c6b12c807"'
    body:
      encoding: US-ASCII
      string: ! '{"id":7702303,"name":"My todolist","description":"This is a todolist","created_at":"2013-05-28T21:16:16.460Z","updated_at":"2013-05-28T21:16:16.460Z","completed":false,"position":1,"remaining_count":0,"completed_count":0,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"todos":{"remaining":[],"completed":[]},"comments":[],"subscribers":[{"id":4666033,"name":"Paul
        Springett"}]}'
  recorded_at: Tue, 28 May 2013 21:16:16 GMT
recorded_with: VCR 2.5.0
