---
http_interactions:
- request:
    method: post
    uri: https://basecamp.com/2274488/api/v1/projects.json
    body:
      encoding: UTF-8
      string: ! '{"name":"New project","description":"A new project created over the
        API"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-xhr-current-location:
      - /2274488/api/v1/projects.json
      x-asset-paths:
      - ! '{"application.js":"application-65ce9eab0fe6859d64efe0f889d5e231.js","application.css":"application-417c4f9074157e12c1dfb6ede37ce3e3.css"}'
      location:
      - https://basecamp.com/2274488/api/v1/projects/2956584-new-project.json
      etag:
      - ! '"63ebe55b140e09e04699f634b16e299c"'
    body:
      encoding: US-ASCII
      string: ! '{"id":2956584,"name":"New project","description":"A new project created
        over the API","archived":false,"created_at":"2013-05-28T20:29:01.889Z","updated_at":"2013-05-28T20:29:01.889Z","last_event_at":"2013-05-28T20:29:01.000Z","starred":false,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"accesses":{"count":1,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/accesses.json"},"attachments":{"count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/attachments.json"},"calendar_events":{"count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/calendar_events.json"},"documents":{"count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/documents.json"},"forwards":{"count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/forwards.json"},"topics":{"count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/topics.json"},"todolists":{"remaining_count":0,"completed_count":0,"updated_at":null,"url":"https://basecamp.com/2274488/api/v1/projects/2956584-new-project/todolists.json"}}'
  recorded_at: Tue, 28 May 2013 20:29:02 GMT
recorded_with: VCR 2.5.0
