---
http_interactions:
- request:
    method: put
    uri: https://basecamp.com/2274488/api/v1/projects/2956584/todolists/8268819.json
    body:
      encoding: UTF-8
      string: ! '{"name":"Renamed todolist"}'
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
      status:
      - 301 Moved Permanently
      x-xhr-current-location:
      - /2274488/api/v1/projects/2956584/todolists/8268819.json
      x-asset-paths:
      - ! '{"application.js":"application-eb8afc75ba8fcbb36b8518826dd32bc5.js","application.css":"application-18059b31e3ebdcca82003cfaf2564179.css"}'
      location:
      - https://basecamp.com/2274488/api/v1/projects/2951531/todolists/8268819.json?moved=true
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="https://basecamp.com/2274488/api/v1/projects/2951531/todolists/8268819.json?moved=true">redirected</a>.</body></html>
  recorded_at: Fri, 21 Jun 2013 22:11:54 GMT
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects/2951531/todolists/8268819.json?moved=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects/2951531/todolists/8268819.json?moved=true
      x-asset-paths:
      - ! '{"application.js":"application-eb8afc75ba8fcbb36b8518826dd32bc5.js","application.css":"application-18059b31e3ebdcca82003cfaf2564179.css"}'
      etag:
      - ! '"81e46ff9ee5f546c6d98d48c720a938d"'
      last-modified:
      - Fri, 21 Jun 2013 22:06:49 GMT
    body:
      encoding: US-ASCII
      string: ! '{"id":8268819,"name":"Example todolist","description":null,"created_at":"2013-06-21T21:50:13.000Z","updated_at":"2013-06-21T22:06:49.000Z","completed":false,"position":1,"remaining_count":3,"completed_count":0,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"todos":{"remaining":[{"id":48545209,"todolist_id":8268819,"position":1,"content":"Another
        todo","completed":false,"created_at":"2013-06-21T21:50:24.000Z","updated_at":"2013-06-21T21:50:24.000Z","comments_count":0,"due_on":null,"due_at":null,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"url":"https://basecamp.com/2274488/api/v1/projects/2951531-new-project/todos/48545209-another-todo.json"},{"id":48545212,"todolist_id":8268819,"position":2,"content":"Number
        3","completed":false,"created_at":"2013-06-21T21:50:27.000Z","updated_at":"2013-06-21T21:50:27.000Z","comments_count":0,"due_on":null,"due_at":null,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"url":"https://basecamp.com/2274488/api/v1/projects/2951531-new-project/todos/48545212-number-3.json"},{"id":48546382,"todolist_id":8268819,"position":3,"content":"My
        todo","completed":false,"created_at":"2013-06-21T22:01:32.000Z","updated_at":"2013-06-21T22:01:32.000Z","comments_count":0,"due_on":null,"due_at":null,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"url":"https://basecamp.com/2274488/api/v1/projects/2951531-new-project/todos/48546382-my-todo.json"}],"completed":[]},"comments":[],"subscribers":[{"id":4666033,"name":"Paul
        Springett"}]}'
  recorded_at: Fri, 21 Jun 2013 22:11:54 GMT
[...]
