---
http_interactions:
- request:
    method: post
    uri: https://basecamp.com/2274488/api/v1/projects/2956584/todolists.json
    body:
      encoding: UTF-8
      string: ! '{"name":"My todolist","description":"This is a todolist"}'
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-xhr-current-location:
      - /2274488/api/v1/projects/2956584/todolists.json
      x-asset-paths:
      - ! '{"application.js":"application-eb8afc75ba8fcbb36b8518826dd32bc5.js","application.css":"application-18059b31e3ebdcca82003cfaf2564179.css"}'
      location:
      - https://basecamp.com/2274488/api/v1/projects/2956584-new-project/todolists/8269172-my-todolist.json
      etag:
      - ! '"4945d98733bc5215fdd387d1cbcd9c58"'
    body:
      encoding: US-ASCII
      string: ! '{"id":8269172,"name":"My todolist","description":"This is a todolist","created_at":"2013-06-21T22:11:53.009Z","updated_at":"2013-06-21T22:11:53.009Z","completed":false,"position":1,"remaining_count":0,"completed_count":0,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"todos":{"remaining":[],"completed":[]},"comments":[],"subscribers":[{"id":4666033,"name":"Paul
        Springett"}]}'
  recorded_at: Fri, 21 Jun 2013 22:11:53 GMT
recorded_with: VCR 2.5.0
