---
http_interactions:
- request:
    method: delete
    uri: https://basecamp.com/2274488/api/v1/projects/9634353/comments/297584179.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic N3IwZ2d3QGdtYWlsLmNvbTpCQ1BabGhma2IyNjU=
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-asset-paths:
      - '{"desktop.js":"desktop-ffff6ab2353adfd35273439e2b190a97.js","desktop.css":"desktop-d7e97abbc9c3540e9ab5d7537c0b4a05.css"}'
      x-queue-time:
      - '0.0011830329895019531'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 23 Jun 2015 14:39:05 GMT
- request:
    method: get
    uri: https://basecamp.com/2274488/api/v1/projects/9634353/comments/297584179.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic N3IwZ2d5QGdtYWlsLmNvbTpCQ1BmbGhma2IyNjU=
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-queue-time:
      - '0.0009946823120117188'
    body:
      encoding: UTF-8
      string: '{"status":"404","error":"Not Found"}'
  recorded_at: Tue, 23 Jun 2015 14:39:06 GMT
- request:
    method: delete
    uri: https://basecamp.com/2274488/api/v1/projects/9634353/comments/297584179.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 404 Not Found
      reason:
      - Account Inactive
      x-queue-time:
      - '0.0011222362518310547'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 23 Jun 2015 14:40:28 GMT
recorded_with: VCR 2.9.3
