---
http_interactions:
- request:
    method: put
    uri: https://basecamp.com/2274488/api/v1/projects/2951531/todos/48545200.json
    body:
      encoding: UTF-8
      string: ! '{"content":"My updated todo"}'
    headers:
      Authorization:
      - Basic YmN4LXRlc3QtdXNlcjpzZWNyZXQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-xhr-current-location:
      - /2274488/api/v1/projects/2951531/todos/48545200.json
      x-asset-paths:
      - ! '{"application.js":"application-eb8afc75ba8fcbb36b8518826dd32bc5.js","application.css":"application-18059b31e3ebdcca82003cfaf2564179.css"}'
      etag:
      - ! '"36fee5921f8ee58a3b7cb0d23247e6bc"'
    body:
      encoding: US-ASCII
      string: ! '{"id":48545200,"todolist_id":8268819,"position":1,"content":"My updated
        todo","completed":false,"created_at":"2013-06-21T21:50:20.000Z","updated_at":"2013-06-21T22:04:36.845Z","comments_count":0,"due_on":null,"due_at":null,"creator":{"id":4666033,"name":"Paul
        Springett","avatar_url":"http://dge9rmgqjs8m1.cloudfront.net/global/default_avatar_v1_3/avatar.gif?r=3"},"url":"https://basecamp.com/2274488/api/v1/projects/2951531-new-project/todos/48545200-my-updated-todo.json","comments":[],"subscribers":[{"id":4666033,"name":"Paul
        Springett"}]}'
  recorded_at: Fri, 21 Jun 2013 22:04:37 GMT
recorded_with: VCR 2.5.0
